<h1>Edit Service: <%= @service.description %></h1>

<%= form_for @service do |f| %>

<div>Change service description:</div>
<div class="form_item"><%= f.text_field :description, :class=>"text" %></div>
<br>
<div>Change service price:</div>
<div class="form_item"><%= f.text_field :price, required: true, :class=>"text" %></div>

<div class="form_item"><%= f.submit "Update", :class=>"submit" %></div>
<% end %>
