<h1>My Services</h1>

<div>
  <%= link_to "Add Service", new_service_path, :class=> "link_button" %>
</div>

<table>
  <% current_business_owner.services.each do |s| %>
    <tr class="services">
      <% if logged_in? %>
        <td><%= link_to "X", "/services/#{s.id}", method: :delete, :class => "delete_button" %></td>
        <td><%= link_to "Edit", edit_service_path(s), :class => "edit_button" %></td>
      <% end %>

      <td><%= s.description %></td>
      <td style='text-align: right'><%= s.display_price %></td>
    </tr>
  <% end %>
</table>
