<h1>New Service</h1>

<br>
<%= render partial: 'layouts/errors', locals: {object: @service}  %>
<br>

<%= form_for(@service) do |f| %>
  <div class="form_item"><%= f.label :description %></div>
  <div class="form_item"><%= f.text_field :description, :class=>"text" %></div>

  <div class="form_item"><%= f.label :price %></div>
  <div class="form_item"><%= f.text_field :price, :class=>"text" %></div>

  <div class="form_item"><%= f.submit "Add Service", :class=>"submit" %></div>
<% end %>
