<h1>All Dogs</h1>

<div class="container">
<div class="nav_pills">
  <%= link_to "Add Client", new_client_path, :class=> "link_button" %>
</div>

<div class="nav_pills">
  <%= link_to "Add Dog", new_dog_path, :class=> "link_button" %>
</div>
</div>

<br>

<table>
  <tr>
    <th>Dog's Name</th>
    <th>Dog's Owner</th>
    <th>Age</th>
    <th>Breed</th>
    <th>Favorite Treat</th>

  <% Dog.all.each do |d| %>
    <% if d.client.business_owner_id == current_business_owner.id %>
      <tr>
        <td><%= d.name %> </td>
        <td><%=d.client.name%> </td>
        <td><%= d.age %> </td>
        <td><%= d.breed %> </td>
        <td><%= d.favorite_treat %> </td>
    <% end %>
  <% end %>
