<h1>Add a New Dog</h1>

<%= form_for(@dog) do |f| %>
  <div class="form_item"><%= f.label :name %></div>
  <div class="form_item"><%= f.text_field :name, :class=>"text" %></div>

  <div class="form_item"><%= f.label :breed %></div>
  <div class="form_item"><%= f.text_field :breed, :class=>"text" %></div>

  <div class="form_item"><%= f.label :age %></div>
  <div class="form_item"><%= f.text_field :age, :class=>"text" %></div>

  <div class="form_item"><%= f.label :favorite_treat %></div>
  <div class="form_item"><%= f.text_field :favorite_treat, :class=>"text" %></div>

  <p>Select the Client that this dog belongs to:</p>

  <%= f.collection_select :client_id, @clients, :id, :name %>
  <br>
  <br>
  <%= f.submit "Add Dog", :class=>"submit"%>
<% end %>
