<h1>Sign Up!</h1>
<p>Business owners can sign up here.</p>

<%= form_for(@business_owner) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :business_join_code %>
  <%= f.text_field :business_join_code %>

  <%= f.submit "Sign Up" %>
<% end %>
