<h1>My Clients</h1>

<div class="container">
<div>
  <%= link_to "Add Client", new_client_path, :class=> "nav_pills link_button" %>
</div>

<div>
  <%= link_to "Add Dog", new_dog_path, :class=> "nav_pills link_button" %>
</div>
</div>

<br>
<br>

<%= form_tag("/clients") do %>
  <span>Search Clients by name</span>
  <%= text_field_tag "search_for"%>
  <%= submit_tag "Search" %>
<% end %>

<br>

<table>
  <tr>
    <th>Client</th>
    <th>Dogs</th>
    <th>Appointments Booked</th>
    <th>Appointment Revenue</th>
  </tr>
  <% current_business_owner.clients.each do |c| %>
  <tr>
    <td> <%= link_to c.name, client_path(c), :class => "table_button" %></td>
    <td class="table_number"> <%= c.dogs.count %> </td>
    <td class="table_number"> <%= c.appointments.count %> </td>
    <td class="table_number"> <%= c.revenue %> </td>
  </tr>
  <% end %>
</table>
