<h1>My Clients</h1>

<div class="container">
<div class="nav_pills">
  <%= link_to "Add Client", new_client_path, :class=> "link_button" %>
</div>

<div class="nav_pills">
  <%= link_to "Add Dog", new_dog_path, :class=> "link_button" %>
</div>
</div>

<br>

<table>
  <tr>
    <th>Client</th>
    <th>Dogs</th>
    <th>Appointments Booked</th>
    <th>Appointment Revenue</th>
  </tr>
  <% current_business_owner.clients.each do |c| %>
  <tr>
    <td> <%= link_to c.name, client_path(c), :class => "table_button" %></td>
    <td class="table_number"> <%= c.dogs.count %> </td>
    <td class="table_number"> <%= c.appointments.count %> </td>
    <td class="table_number"> <%= c.revenue %> </td>
  </tr>
  <% end %>
</table>
