<h1>Add a New Client</h1>

<%= form_for(@client) do |f| %>
  <div class="form_item"><%= f.label :name %></div>
  <div class="form_item"><%= f.text_field :name, :class=>"text" %></div>
  <br>
  <div class="form_item"><%= f.label :phonenumber, "Phone Number" %></div>
  <div class="form_item"><%= f.text_field :phonenumber, :class=>"text" %></div>
  <br>
  <div class="form_item"><%= f.label :address %></div>
  <div class="form_item"><%= f.text_field :address, :class=>"text" %></div>

  <div class="form_item"><%= f.submit "Add Client", :class=>"submit" %></div>
<% end %>
