<h1>Edit Appointment</h1>

<table>
  <tr>
    <th>Appointment</th>
    <th>Client</th>
    <th>Dog</th>
    <th>Service</th>
  </tr>
  <tr>
    <td><%= @appointment.display_datetime %></td>
    <td><%= @appointment.dog.client.name %></td>
    <td><%= @appointment.dog.name %></td>
    <td><%= @appointment.service.description %></td>
  </tr>
</table>

<br>


<%= form_for @appointment do |f| %>
<p>Assign a dog walker:</p>
<div class="form_item"><%= f.collection_select :dogwalker_id, @dogwalkers, :id, :name, required: true %></div>
<br>
<p>Add tips received:</p>
<div class="form_item"><%= f.text_field :tip, :class=>"text" %></div>
<br>
<div class="form_item"><%= f.submit "Update", :class=>"submit" %></div>
<% end %>
