<!DOCTYPE html>
<html>
  <head>
    <title>WalkNRoll</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Coiny&display=swap" rel="stylesheet">
   </head>

  <div class="top_header">
    <div class="title">
      <p>Get ready to </p>
      <h1>Walk n Roll!</h1>
    </div>
  </div>

  <nav class="menu_bar">
    <% if logged_in? %>
      <div class="menu_items"><%= link_to "Logout", business_owner_logout_path, method: :delete %></div>
      <div class="menu_items"><%= link_to "Home", business_owner_path(session[:business_owner_id]) %></div>
      <div class="menu_items"><%= link_to "Clients", clients_path %></div>
      <div class="menu_items"><%= link_to "Dogs", dogs_path %></div>
      <div class="menu_items"><%= link_to "Walkers", dogwalkers_path %></div>
      <div class="menu_items"><%= link_to "Appointments", appointments_path %></div>
      <div class="menu_items"><%= link_to "Services", services_path %></div>

    <% else %>
      <div class="menu_item name_tag">Roshanak Agahi // Flatiron School // Project 3: Ruby on Rails</div>
    <% end %>
  </nav>

  <div>
    <%= flash[:notice] %>
  </div>


  <body>
    <div class="page_content">
      <%= yield %>
    </div>
  </body>
</html>
