<!DOCTYPE html>
<html>
  <head>
    <title>WalkNRoll</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="menu_bar">
    <% if logged_in? %>
      <div class="menu_items"><%= link_to "Logout", business_owner_logout_path, method: :delete %></div>
      <div class="menu_items"><%= link_to "Home", business_owner_path(session[:business_owner_id]) %></div>
      <div class="menu_items"><%= link_to "Add Client", new_client_path %></div>
      <div class="menu_items"><%= link_to "Add Dog", new_dog_path %></div>
      <div class="menu_items"><%= link_to "Add Dog Walker", new_dogwalker_path %></div>
    <% else %>
      <%= link_to "Log In", business_owner_login_path %>
    <% end %>
  </nav>

  <div>
    <%= flash[:notice] %>
  </div>


  <body>
    <%= yield %>
  </body>
</html>
